<resources>
    <properties>
        <property id="API_Key" type="string">replace with your key</property>
        <property id="TideLat" type="double">-28.125</property>
        <property id="TideLon" type="double">32.560</property>
        <property id="SunLat" type="double">100</property>
        <property id="SunLon" type="double">0</property>
        <property id="MoonHemisNorth" type="boolean">false</property>
        <property id="DawnFunction" type="boolean">false</property>
        <property id="WebPeriod" type="number">15</property>
        <property id="TaskerFunction" type="boolean">false</property>
        <property id="TaskerPage" type="string">http://127.0.0.1:1821/MoonTide</property>
        <property id="CustomText" type="string">MoonTide</property>
    </properties>

    <settings>
        <setting propertyKey="@Properties.API_Key" title="WorldTides API Key">
            <settingConfig type="alphaNumeric" required="true" />
        </setting>
        <setting propertyKey="@Properties.TideLat" title="Latitude for Tide (100 => use last known position)">
            <settingConfig type="numeric" required="true" min="-90" max="100"/>
        </setting>
        <setting propertyKey="@Properties.TideLon" title="Longitude for Tide">
            <settingConfig type="numeric" required="true"  min="-180" max="180"/>
        </setting>
        <setting propertyKey="@Properties.SunLat" title="Latitude for Sun (100 => use last known position)">
            <settingConfig type="numeric" required="true"  min="-90" max="100"/>
        </setting>
        <setting propertyKey="@Properties.SunLon" title="Longitude for Sun">
            <settingConfig type="numeric" required="true"  min="-180" max="180"/>
        </setting>
        <setting propertyKey="@Properties.MoonHemisNorth" title="Observation Hemisphere for Moon (On/true=North)">
            <settingConfig type="boolean" required="true"/>
        </setting>
        <setting propertyKey="@Properties.DawnFunction" title="Sunrise/Sunset at Dawn (animation)">
            <settingConfig type="boolean" required="true"/>
        </setting>
        <setting propertyKey="@Properties.WebPeriod" title="Period between Web Requests (Minutes (Min:5,Max:1440)) (needs App/WF Restart)">
            <settingConfig type="numeric" required="true"  min="5" max="1440"/>
        </setting>
        <setting propertyKey="@Properties.TaskerFunction" title="Enable Data from Tasker/WebPage">
            <settingConfig type="boolean" required="true"/>
        </setting>
        <setting propertyKey="@Properties.TaskerPage" title="Tasker/Web Page (Must produce less than 10 chars)">
            <settingConfig type="alphaNumeric" required="true" />
        </setting>
        <setting propertyKey="@Properties.CustomText" title="CustomText at bottom of screen, if Tasker/Web Page is not used">
            <settingConfig type="alphaNumeric" required="true" />
        </setting>
    </settings>
</resources>